<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Soo-Log</title>
  <link rel="stylesheet" href="/css/post.css">
  <script defer src="./js/test.js"></script>
</head>

<body>
  <div class="box">
    <div class="wrapper">
      <div class="header">
        <h1>Soo-Log</h1>
        <h2><%= userId %> </br> Welcome !</h2>
      </div>

      <div class="addBlock">
        <a class="btn btn--green" href="/posts/write">+Write</a>
        <a class="btn btn--green" href="/login/logout">Log-out</a>

      </div>

      <h2 class="total">Total Logs - <%= postCounts %></h2>

      <div class="contentBlock">
        <ul>
          <% if(postCounts > 0) { %>
          <% for(let i = 0; i < postCounts; i++) {%>
          <li>
            <p class="title"><%= ARTICLE[i].title%></p>
            <p class="content"><%= ARTICLE[i].content%></p>
            <p class="content">by. <%= ARTICLE[i].id %></p>
            <% if (ARTICLE[i].id === userId) { %>
            <a class="btn btn--blue" href="/posts/modify/<%= ARTICLE[i].title %>">Edit</a>
            <a class="btn btn--red" href="#" onclick="deleteArticle('<%= ARTICLE[i].title %>')">Delete</a>
            <% } %>
          </li>
          <% } %>
          <% } else { %>
          <li>The post does not exist.</li>
          <% } %>
        </ul>
      </div>
    </div>
  </div>

</body>

<script>
  function deleteArticle(title) {
    const yesorno = confirm('Do you really want to delete it?')
    if (yesorno) {
      fetch(`http://localhost:4000/posts/${title}`, {
        method: 'delete',
        headers: {
          'Content-type': 'application/json'
        },
      }).then((res) => {
        location.reload();
      })
    }
  }
</script>

</html>